body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    background-color: black;
}

button {
    font-size: 24px;
    height: 32px;
    margin: 0;
}

#scale {
    color: white;
    font-size: 24px;
    height: 32px;
    line-height: 32px;
}